.title { 
    padding-top: 118px; 
    padding-bottom: 118px;
    text-align: center;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../images/header-mob@1x.jpg);
    margin-left: auto;
    margin-right: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--title-background-color);}
.title__wrapper {
    width: 100%;}
.title__item {
    margin-bottom: 30px; 
    margin-left: auto ;
    margin-right: auto;
    @include font(26px,900);
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-item);}
.button {
    display: inline-block;
    min-width: 216px;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--button);
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 216px;
    height: 50px;
    @extend %align;
    margin-left: auto;
    margin-right: auto;
    transition: background-color var(--transition-dur-and-func);
 &:hover,
 &:focus {
        background-color: var(--button-hf);}}
.title-button {
    border: none;
    padding: 6px 22px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}
@media screen and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
.title { 
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-mob@2x.jpg);}
.title__wrapper {
        width: 100%;}} 
@media screen and (min-width:768px) {
.title__item {
    width: 360px;}
.title {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header-tab@1x.jpg);
    background-size: 768px 400px;}}
@media screen and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
.title {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-tab@2x.jpg);}}

@media screen and (min-width:1200px) {
.title__item {
    width: 696px;}
.title { 
    padding-top: 200px; 
    padding-bottom: 200px;
  background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../images/header@1x.jpg);
    background-size: 1600px 600px;}
.title__item {
  @include font(44px,900);}}
@media screen and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
.title {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header@2x.jpg);}}       
