:root{
    --accent-color:#2196F3;
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --title-background-color:#2F303A;
    --title-item:#FFFFFF;
    --body-color:hsl(0, 0%, 100%);
    --main-images:#ffffff;
    --portfolio-header:#FFFFFF;
    --logo-dark-header:#000000;
    --header-contact:#757575;
    --portfolio-button-bc:#F5F4FA;
    --button:#FFFFFF;
    --button-hf:#188CE8;
    --portfolio-button-hf:#FFFFFF;
    --main-team:#F5F4FA;
    --main-team-foto:#FFFFFF;
    --logo-light:#FFFFFF;
    --footer-address:#FFFFFF;
    --footer-contacts:#FFFFFF99;
    --main-portfolio-foto-border:#EEEEEE;
    --portfolio:#F5F5F5;
    --footer-social-title:#FFFFFF;
    --social-customers:#AFB1B8;
    --transition-dur-and-func:250ms cubic-bezier(0.4, 0, 0.2, 1);}